<!doctype html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="https://w7.pngwing.com/pngs/368/176/png-transparent-ethereum-cryptocurrency-blockchain-bitcoin-logo-bitcoin-angle-triangle-logo.png" type="image/png">
    <title>Augmentation</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-10">Augmentating and Croppping face website</h1>
      <p class="lead">A product by Dao Chi Buu</p>
      <hr class="my-2"> 
      <div class="media">
        <a class="d-flex align-self-bottom" href="#">
            <img src="" alt="">
        </a>
        <div class="media-body">
          <h5>How to use?</h5>
          <p>1. Upload your image (JPG, PNG only) which one you want to augmented. If it will be used for trainning data, the face in picture should be in centel.</p>
          <p>2. Wait for server response about 10s, the Response will be a Zip file with 20 images(faces was cropped). </p> 
          <p>3. Use it!</p>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="container">
  <div class="row">
    <div class="col">

      <p> <b>Upload an image here: </b></p>
      <hr>

      <form action="/upload" method="POST" enctype="multipart/form-data" onsubmit="return validateFile()">

        <div class="form-group">
          <label>Select image</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="images" id="image">
            <label class="custom-file-label" for="image"> Select image...</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" onclick="myFunction()">Upload</button>
      </form>
    </div>
  </div>
</div>
<script>
  $(".custom-file-input").on("change", function() {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
</script>
<script>
  function myFunction() {
    let x = document.getElementById("image").value;
    try {
      if(x == "")  throw "empty";
    }
    catch(err) {
      alert("Input was: " + err);
    }
  }
</script>
<script>
  function validateFile()
          {
              var allowedExtension = ['jpg', 'png'];
              var fileExtension = document.getElementById('image').value.split('.').pop().toLowerCase();
              var isValidFile = false;

                  for(var index in allowedExtension) {

                      if(fileExtension === allowedExtension[index]) {
                          isValidFile = true;
                          break;
                      }
                  }

                  if(!isValidFile) {
                      alert('Allowed Extensions are : *.' + allowedExtension.join(', *.'));
                  }

                  return isValidFile;
          }

</script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
